
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#wrapper {
	min-height: 100%;

	padding: 40px 0 0 0;
}

a {
	text-decoration: none;
	color: #000;
}

footer {
	text-align: center;
}

#seiten {
	list-style-type: none;
	padding: 0;
}

#seiten li {
	display: inline-block;
}

.message, .rmessage {
	padding: 16px;
}

.rmessage {
	text-align: right;
}


/* Profilkram */
#profilePicture {
	max-width: 100%;
    height: auto;
}

#leftInformation {
	float: left;
	width: 25%;
	padding-right: 15px;
}

#ownEntries {
	float: left;
	width: 75%;
	padding-left: 15px;
	border-left: 1px solid #000;
}



/* Entrykram */

.time {
	text-align: right;
}

